/report.pdf
/report.synctex.gz
/tmp/
/report.brf
/fiducial.aux
/intro.aux
/multiplanar.aux
/report.aux
/report.bbl
/report.blg
/report.lof
/report.log
/report.lot
/report.toc
/stagnantWater.aux
/vacantSpaces.aux
